#contentbox {
	
	background:#9df9ef;
	min-height: 600px;
	grid-area: contentbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    border: 1px solid black;
            }

.box {
	width: 300px;
    border: 1px solid black;
     }