@import "footer.css";
@import "sidebox.css";
@import "contentbox.css";
@import "header.css";



body{

  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2,1fr);*/
	grid-template-areas: 
  "header header header"
	"sidebox contentbox contentbox"
	"footer footer footer";
  border: 1px solid black;

}
@media only screen and (max-width: 1100px) {
	body {
		font-family: 'Times New Roman', Times, serif;
	}
}
@media only screen and (max-width: 600px) {
	body {
		font-family: Arial, Helvetica, sans-serif;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header"
		"sidebox"
		"contentbox"
		"footer";
	}
}
span{
font-style: italic;
text-decoration: underline;
  }
  button{ background-color: azure;}
  h1{
     font-weight: bold;
	 text-decoration: underline;
    }
  