#sidebox {
	background:#cae272;
	min-height: 600px;
	grid-area: sidebox;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    /*border: 1px solid black;*/
	text-align: center;
}
.blog-post {
	margin: 15px;
   /* border: 1px solid black;*/
	
}